body {
    font-family: "Times New Roman", serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

h1 {
    margin-top: 60px;
    font-size: 36px;
    font-weight: bold;
}

.container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

input {
    padding: 12px;
    font-size: 16px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 12px 18px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 6px;
    transition: 0.2s;
}

button:hover {
    background-color: #333;
}
